<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Leaderboards</key>
	<dict>
		<key>917667</key>
		<string>937667</string>
		<key>917677</key>
		<string>937677</string>
		<key>917687</key>
		<string>937687</string>
		<key>917697</key>
		<string>937697</string>
		<key>917707</key>
		<string>937707</string>
		<key>917717</key>
		<string>937717</string>
		<key>917727</key>
		<string>937727</string>
		<key>917737</key>
		<string>937737</string>
		<key>917747</key>
		<string>937747</string>
		<key>917757</key>
		<string>937757</string>
		<key>917767</key>
		<string>937767</string>
		<key>917777</key>
		<string>937777</string>
		<key>917787</key>
		<string>937787</string>
		<key>917797</key>
		<string>937797</string>
		<key>917807</key>
		<string>937807</string>
		<key>917817</key>
		<string>937817</string>
		<key>917827</key>
		<string>937827</string>
		<key>917837</key>
		<string>937837</string>
		<key>917847</key>
		<string>937847</string>
		<key>917857</key>
		<string>937857</string>
		<key>917867</key>
		<string>937867</string>
		<key>917877</key>
		<string>937877</string>
		<key>917887</key>
		<string>937887</string>
		<key>917897</key>
		<string>937897</string>
		<key>917937</key>
		<string>937937</string>
	</dict>
	<key>Achievements</key>
	<dict>
		<key>1199522</key>
        <string>1399522</string>
        <key>1199532</key>
        <string>1399523</string>
        <key>1199542</key>
        <string>1399524</string>
        <key>1199562</key>
        <string>1399525</string>
        <key>1199572</key>
        <string>1399526</string>
        <key>1199602</key>
        <string>1399527</string>
        <key>1199632</key>
        <string>1399528</string>
        <key>1199642</key>
        <string>1399529</string>
        <key>1199662</key>
        <string>1399530</string>
        <key>1199672</key>
        <string>1399531</string>
        <key>1199682</key>
        <string>1399532</string>
        <key>1199692</key>
        <string>1399533</string>
        <key>1199702</key>
        <string>1399534</string>
        <key>1199712</key>
        <string>1399535</string>
        <key>1222662</key>
        <string>1399536</string>
        <key>1222692</key>
        <string>1399537</string>
        <key>1222702</key>
        <string>1399538</string>
        <key>1222712</key>
        <string>1399539</string>
        <key>1222722</key>
        <string>1399540</string>
        <key>1222732</key>
        <string>1399541</string>
        <key>1222742</key>
        <string>1399542</string>
        <key>1222752</key>
        <string>1399543</string>
        <key>1222762</key>
        <string>1399544</string>
        <key>1222772</key>
        <string>1399545</string>
        <key>1222782</key>
        <string>1399546</string>
        <key>1222792</key>
        <string>1399547</string>
        <key>1222802</key>
        <string>1399548</string>
        <key>1222812</key>
        <string>1399549</string>
        <key>1222822</key>
        <string>1399550</string>
        <key>1249912</key>
        <string>1399551</string>
        <key>1222832</key>
        <string>1399552</string>
        <key>1222842</key>
        <string>1399553</string>
        <key>1222852</key>
        <string>1399554</string>
        <key>1222862</key>
        <string>1399555</string>
        <key>1222872</key>
        <string>1399556</string>
        <key>1222882</key>
        <string>1399557</string>
        <key>1222892</key>
        <string>1399558</string>
        <key>1222902</key>
        <string>1399559</string>
        <key>1222912</key>
        <string>1399560</string>
        <key>1368632</key>
        <string>1399561</string>
        <key>1368612</key>
        <string>1399562</string>
        <key>1368602</key>
        <string>1399563</string>
        <key>1368592</key>
        <string>1399564</string>
        <key>1368582</key>
        <string>1399565</string>
        <key>1368572</key>
        <string>1399566</string>
        <key>1368562</key>
        <string>1399567</string>
        <key>1368552</key>
        <string>1399568</string>
        <key>1368542</key>
        <string>1399569</string>
        <key>1368532</key>
        <string>1399570</string>
        <key>1368522</key>
        <string>1399571</string>
        <key>1368512</key>
        <string>1399572</string>
        <key>1368502</key>
        <string>1399573</string>
	</dict>
</dict>
</plist>
