<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Leaderboards</key>
	<dict>
		<key>917667</key>
		<string>947667</string>
		<key>917677</key>
		<string>947677</string>
		<key>917687</key>
		<string>947687</string>
		<key>917697</key>
		<string>947697</string>
		<key>917707</key>
		<string>947707</string>
		<key>917717</key>
		<string>947717</string>
		<key>917727</key>
		<string>947727</string>
		<key>917737</key>
		<string>947737</string>
		<key>917747</key>
		<string>947747</string>
		<key>917757</key>
		<string>947757</string>
		<key>917767</key>
		<string>947767</string>
		<key>917777</key>
		<string>947777</string>
		<key>917787</key>
		<string>947787</string>
		<key>917797</key>
		<string>947797</string>
		<key>917807</key>
		<string>947807</string>
		<key>917817</key>
		<string>947817</string>
		<key>917827</key>
		<string>947827</string>
		<key>917837</key>
		<string>947837</string>
		<key>917847</key>
		<string>947847</string>
		<key>917857</key>
		<string>947857</string>
		<key>917867</key>
		<string>947867</string>
		<key>917877</key>
		<string>947877</string>
		<key>917887</key>
		<string>947887</string>
		<key>917897</key>
		<string>947897</string>
		<key>917937</key>
		<string>947937</string>
	</dict>
	<key>Achievements</key>
	<dict>
		<key>1199522</key>
        <string>1499522</string>
        <key>1199532</key>
        <string>1499523</string>
        <key>1199542</key>
        <string>1499524</string>
        <key>1199562</key>
        <string>1499525</string>
        <key>1199572</key>
        <string>1499526</string>
        <key>1199602</key>
        <string>1499527</string>
        <key>1199632</key>
        <string>1499528</string>
        <key>1199642</key>
        <string>1499529</string>
        <key>1199662</key>
        <string>1499530</string>
        <key>1199672</key>
        <string>1499531</string>
        <key>1199682</key>
        <string>1499532</string>
        <key>1199692</key>
        <string>1499533</string>
        <key>1199702</key>
        <string>1499534</string>
        <key>1199712</key>
        <string>1499535</string>
        <key>1222662</key>
        <string>1499536</string>
        <key>1222692</key>
        <string>1499537</string>
        <key>1222702</key>
        <string>1499538</string>
        <key>1222712</key>
        <string>1499539</string>
        <key>1222722</key>
        <string>1499540</string>
        <key>1222732</key>
        <string>1499541</string>
        <key>1222742</key>
        <string>1499542</string>
        <key>1222752</key>
        <string>1499543</string>
        <key>1222762</key>
        <string>1499544</string>
        <key>1222772</key>
        <string>1499545</string>
        <key>1222782</key>
        <string>1499546</string>
        <key>1222792</key>
        <string>1499547</string>
        <key>1222802</key>
        <string>1499548</string>
        <key>1222812</key>
        <string>1499549</string>
        <key>1222822</key>
        <string>1499550</string>
        <key>1249912</key>
        <string>1499551</string>
        <key>1222832</key>
        <string>1499552</string>
        <key>1222842</key>
        <string>1499553</string>
        <key>1222852</key>
        <string>1499554</string>
        <key>1222862</key>
        <string>1499555</string>
        <key>1222872</key>
        <string>1499556</string>
        <key>1222882</key>
        <string>1499557</string>
        <key>1222892</key>
        <string>1499558</string>
        <key>1222902</key>
        <string>1499559</string>
        <key>1222912</key>
        <string>1499560</string>
        <key>1368632</key>
        <string>1499561</string>
        <key>1368612</key>
        <string>1499562</string>
        <key>1368602</key>
        <string>1499563</string>
        <key>1368592</key>
        <string>1499564</string>
        <key>1368582</key>
        <string>1499565</string>
        <key>1368572</key>
        <string>1499566</string>
        <key>1368562</key>
        <string>1499567</string>
        <key>1368552</key>
        <string>1499568</string>
        <key>1368542</key>
        <string>1499569</string>
        <key>1368532</key>
        <string>1499570</string>
        <key>1368522</key>
        <string>1499571</string>
        <key>1368512</key>
        <string>1499572</string>
        <key>1368502</key>
        <string>1499573</string>
	</dict>
</dict>
</plist>
